/*
 * This CSS code is based on Firebase's open source chat demo
 * https://github.com/firebase/cloud-chat/blob/master/scss/chat.scss
 */

.chat-container {
  font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 18px;
  line-height: 22px;
  color: #666;
  overflow: visible;
  position: fixed;
  bottom: 5%;
  left: 25%;
  right: 5%;
  z-index: 100;
  padding: 0px;
  height: 300px;
  background: #f1f1f1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px;
  border: 4px solid #4276b6;
}

/*
 * Message List
 */
#message-list {
  list-style: none;
  padding: 10px 20px 0px;
  overflow: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 36px;
  z-index: 1;
}

#message-list li {
  margin-bottom: 10px;
  line-height: 24px;
  animation: fadeIn 1s;
}

#message-input {
  height: 40px;
  color: #34495e;
  padding-left: 10px;
  position: fixed;
  left: 25%;
  bottom: 6%;
  right: 5%;
  width: 600px;
}
